*{
    background-color:burlywood;
    color: black;
}

label{
    font-size:18px;
}
.container{
    text-align: center;
    margin-top: 250px;
}

input{
    border-color: gold;
    box-shadow: 0px 5px 10px rosybrown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.button{
background-color:brown;
color:black;
height: auto;
width: 200px;
border: none;
padding: 10px;
border-radius: 10px;
}